{{define "app"}}
<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{.BrogName}}</title>
   {{template "style" .}}
</head>
<body>
    <header>
       {{template "header" .}}
    </header>

  {{template "content" .}}

    <footer>
       {{template "footer" .}}
    </footer>
{{template "javascript" .}}
</body>
</html>
{{end}}
