{{define "content"}}
<div>
    {{range .}}
    <h1>
    <a href="/posts/{{.GetID}}">{{.Title}}</a>
    <p><small>By {{.Author}}, {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}</small></p>
    </h1>
    <p>{{.Abstract}}</p>
    {{else}}
    <div><h1>There are not post on this blog!</h1></div>
    {{end}}
</div>
{{end}}
