{{define "javascript"}}
<!-- Add Javascript here -->
<script type="text/javascript" src="/assets/js/brog.js"></script>
<script type="text/javascript" src="/assets/js/highlight.min.js"></script>

<script type="text/javascript">
// Please do highlight my code.
hljs.initHighlightingOnLoad();
</script>
{{end}}
