{{define "content"}}
<article>
    <h1>
        <a href="/posts/{{.GetID}}">{{.Title}}</a>
        <p><small>Posted on {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}</small></p>
    </h1>
</article>
{{end}}
