{{define "content"}}
<article>
    <h1>
        {{.Title}}
    </h1>
    <p><small>By {{.Author}}, {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}</small></p>
    {{.Content}}
</article>
{{end}}
